.products-card {
    width: 650px;
    height: 250px;
}

.img-kartu {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1400px) {
    .products-card {
        width: 100%;
        height: 250px;
    }
}