.a-card {
    width: 450px;
    height: 225px;

    background-color: transparent;
}

.products-card {
    width: 450px;
    height: 225px;

    border: 0px;

    background-color: transparent;
}

.product-name {
    height: 100%;

    display: flex;
    align-items: flex-end;
}

.product-name-h1 {
    color: #FF6600;
    font-size: 80px;

    opacity: 0;
    transition: 0.4s ease-in-out;
}

.a-card:hover .img-kartu {
    opacity: 0.4;
}

.a-card:hover .product-name-h1 {
    opacity: 1;
}

.img-kartu {
    width: 100%;
    height: 100%;
    object-fit: contain;

    opacity: 1;
    transition: 0.4s ease-in-out;
}

@media (max-width: 1500px) {
    .a-card {
        width: 100%;
        height: 300px;
    }
    .products-card {
        width: 100%;
        height: 300px;

        opacity: 1;
    }
    .product-name-h1 {
        position: relative;
        font-size: 150px;

        opacity: 1;
    }
    .product-name {
        margin-left: 80px;

        justify-content: flex-start;
        align-items: center;
    }
    .img-kartu {
        position: absolute;
    }
}

@media (max-width: 1200px) {
    .products-card {
        width: 100%;
        height: 250px;
    }
    .product-name {
        margin-left: 0px;

        justify-content: flex-start;
        align-items: center;
    }
    .product-name-h1 {
        position: relative;
        font-size: 150px;

        opacity: 1;
    }
    .img-kartu {
        position: absolute;

        margin-left: 100px;
    }
}

@media (max-width: 750px) {
    .product-name {
        margin-left: 0px;

        justify-content: flex-start;
        align-items: center;
    }
    .product-name-h1 {
        position: relative;
        font-size: 100px;

        opacity: 1;
    }
    .img-kartu {
        position: absolute;
        opacity: 0.3;

        margin-left: 20px;
    }
}

@media (max-width: 700px) {
    .products-card {
        width: 100%;
        height: 200px;
    }
    .img-kartu {
        margin-left: 100px;
    }
}

@media (max-width: 580px) {
    .products-card {
        width: 100%;
        height: 200px;
    }
    .product-name-h1 {
        font-size: 50px;
    }
    .img-kartu {
        margin-left: 10px;
    }
}