.rider-img {
    width: 65vw;
    height: 80vh;

    object-fit: cover;
}

.rider-name-p {
    color: #FF6600;

    font-size: 80px;
}    

.rider-info {
    color: white;
}

.rider-container {
    /* position: absolute; */
    padding: 40px;
    right: 100px;
    animation-duration: 500ms;
    animation-name: fadeLeft;
}

@keyframes fadeLeft {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(0%);
    }
}

@media (max-width: 1500px) {
    .rider-img {
        width: 100vw;
        height: 100%;

        object-fit: contain;
    }
    .rider-container {
        position: relative;
        right: 0px;
    }
    @keyframes fadeLeft {
        from {
            transform: translateX(100%); 
        }
        to {
            transform: translateX(0%);
        }
    }
}