.profile-head {
    font-size: 100px;
    color: #FF6600;

    margin-top: 40px;
    margin-bottom: -30px;

    display: flex;
    justify-content: center;
}

.profile-subhead {
    font-size: 40px;
    color: #FF6600;

    margin-top: 40px;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
}

#ima {
    width: 100%;
    height: 100%;
}

.ima {
    width: 100vw;
    height: 100%;
}

video::-webkit-media-controls-timeline {
    background-color: #FF6600;
}

video::-webkit-media-controls-panel {
    background-color: #FF6600;
}