.product-name {
    font-size: 200px;
    color: #FF6600;
}

.trapezoid {
	border-bottom: 500px solid white;
	border-left: 300px solid transparent;
	/* border-right: 25px solid transparent; */
	height: 0;
	width: 80vw;

    margin-left: 20vw;

    z-index: 0;
    position: relative;
}

.duke-img {
    height: 500px;

    z-index: -1;
    position: absolute;

    animation-duration: 2000ms;
    animation-name: fadeLeft;
}

@keyframes fadeLeft {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(0%);
    }
}

.car-div {
    width: 100%;
    height: 600px;
    background-color: white;

    display: flex;
    justify-content: center;

    margin-top: 100px;
}

.car-img {
    object-fit: contain;

    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 500px) {
    .car-div {
        width: 100%;
        height: 400px;
    }
    .car-img {
        width: 100%;
        height: 300px;
        object-fit: contain;

        margin-top: 0px;
        margin-bottom: 0px;
    }
    .react-multi-carousel-list {
        width: 100%;
        height: 300px;
    }
}