.navbar {
  padding: 0px;
}

.navbar-nav {
  height: 100%;
}

.nav-home {
  margin-top: 0px;
}

.navbar-toggler {
  color: #FF6600;
}

.navbar-toggler-icon {
  color: #FF6600;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-link {
  position: relative;

  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline: 10px;
}

.con {
  margin-inline: 10px;
  max-width: 100%;
}

.ktm {
  width: 65px;
  height: 65px;

  display: flex;
  justify-content: flex-end;
}

.nav-link::after {
  content: '';
  position: absolute;
  background-color: #FF6600;
  transition: 0..3s ease-in-out;

  height: 2.5px;
  width: 0;
  left: 0;
  bottom: -12px;
}

.nav-link.active::after {
  width: 100%;
}

@media (max-width: 750px) {
  .nav-link.active::after {
    width: 0;
  }

  .nav-home {
    margin-top: 20px;
  }

  .con {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.icons-nav {
  color: #FF6600;

  margin-left: 20px;
}