.navbar-nav {
  height: 100%;
}

.nav-link {
  position: relative;

  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline: 10px;
}

.nav-link::after {
  content: '';
  position: absolute;
  background-color: #FF6600;
  transition: 0..3s ease-in-out;

  height: 2.5px;
  width: 0;
  left: 0;
  bottom: -13px;
}

.nav-link.active::after {
  width: 100%;
}

@media (max-width: 750px) {
  .nav-link.active::after {
    width: 0;
  }
}