.navbar {
  padding: 0px;
}

.navbar-nav {
  height: 100%;
}

.nav-link {
  position: relative;

  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline: 10px;
}

.con {
  margin-inline: 0;
}

.ktm {
  width: 65px;
  height: 65px;

  display: flex;
  justify-content: flex-end;
}

.nav-link::after {
  content: '';
  position: absolute;
  background-color: #FF6600;
  transition: 0..3s ease-in-out;

  height: 2.5px;
  width: 0;
  left: 0;
  bottom: -12px;
}

.nav-link.active::after {
  width: 100%;
}

@media (max-width: 750px) {
  .nav-link.active::after {
    width: 0;
  }
  .con {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ktm {
    margin-top: 10px;
    margin-left: 10px;
  }
}