.duke {
    /* position: relative; */
    height: 300vh;
}

.duke-video {
    /* top: 10%;
    left: 10%; */

    width: 100%;
    margin-right: 100px;

    position: relative;

    z-index: 1;
}

.duke-box {
    width: 1200px;
    height: 300vh;
    padding: 30px;

    z-index: 0;

    position: absolute;

    /* display: flex;
    justify-content: center; */

    background-color: #FF6600;
}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;

    left: 60%;
    top: 40%;
}

/* .duke-box-text {
    width: 70vw;
    height: 100%;

    padding-top: 50px;
    padding-inline: 50px;
} */

/* .duke-box-subtext {
    width: 70vw;
    height: 100%;

    display: flex;
    align-items: center;

    padding-bottom: 50px;
    padding-inline: 50px;
} */

.duke-text {
    display: flex;
    justify-content: flex-end;

    font-size: 110px;
    color: black;
}

.duke-text-h3 {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color: black;

    text-align: start;

    max-width: 350px;
    margin-right: 100px;
}

.duke-subtext {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 120%;
    height: 500px;

    margin-top: 70px;
}

.duke-subtext-2 {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */

    position: relative;

    height: 500px;
    margin-top: 70px;
}

.duke-text-h3-2 {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color: black;

    text-align: end;

    width: 300px;
}

/* .duke-200 {
    position: absolute;
} */

.duke-text-b {
    height: 100%;

    display: flex;
    justify-content: flex-start;

    font-size: 80px;
    color: black;
}

.duke-text-h3-b {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color: black
}

.crsl {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-inline: 30px;
    
    position: relative;

    width: 100%;
}

.product-head {
    font-size: 100px;
    color: #FF6600;

    margin-top: 40px;
    margin-inline: 40px;

    display: flex;
    justify-content: flex-start;
}

.car {
    width: 100vw;

    border: 0px;

    background-color: transparent;
}

@media (max-width: 1500px) {
    .crsl {
        margin: 0px;
    }
}

@media (max-width: 1200px) {
    .duke-video {
        width: 100vw;

        top: 0%;
        left: 0%;
    }
    .box-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        left: 0%;
        top: 47%;
    }
    .duke-box {
        width: 70vw;
        height: 100vh;
    
        position: absolute;
    
        display: flex;
        justify-content: flex-end;
    
        background-color: #FF6600;
    }
    .duke-text-b {
        font-size: 60px;
    }
    .crsl {
        margin-top: 200px;
    }
}

@media (max-width: 900px) {
    .duke-video {
        width: 100vw;

        position: relative;
    }
    .box-wrapper {
        display: flex;
        justify-content: center;
        position: relative;

        left: 0%;
        top: 70%;
    }
    .duke-box {
        width: 100vw;
        height: 150vh;
    
        position: absolute;
    
        background-color: #FF6600;
    }
    .duke-text-b {
        font-size: 60px;
    }
    .crsl {
        margin-top: 50px;
    }
}
