* {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.7px;
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Outfit', sans-serif; */
}

Body {
    padding: 0;
    margin: 0;
}